@model VapeApp.WEB.Models.OrderViewModel

@{
    ViewBag.Title = "MakeOrderFullVape";
}
@{
    var id = Model.FullVapeId;
 }


<h2>@Html.DisplayFor(modelitem => Model.FullVapeId)</h2>

<h2>MakeOrderFullVape</h2>

