@model VapeApp.WEB.Models.ImageTankViewModel

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Tank", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Добавить изображение</legend>

        <div class="editor-label">Файл изображения</div>
        <div class="editor-field">
            <input type="file" name="uploadImage" />
        </div>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}
